
html,body {
    margin:0;
    padding: 0;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.Heading{
    font-size: 3em;
    padding-bottom: 5%;
    padding-top: 5%;
    color: #97FEED;
}
#about,#courses,#test,#works,#last{
    background-color: #071952;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}


/*css for about section*/
.heading{
    text-align: center;
    font-size:4em;
    background-color: #071952; padding-bottom: 5%;
        padding-top: 5%;
        color: #97FEED;
}
@media (max-width:540px){
    .heading{
        font-size: 5vh;
        height: 15vh;
    }
    p{
        font-size:3vh;
    }
}


/*css for Courses*/
#courses {
    height: auto;
}
.containera {
    position:relative;
    gap: 100px 50px;
}
.containera .carda {
    position: relative;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #0B666A;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.containera .carda:hover {
    height: 450px;
}
 .containera .carda .img-box {
    position:absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
 .containera .carda:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
 }
 .containera .carda .img-box img {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}
 .containera .carda .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.containera .carda:hover .content {
    top: 130px;
    height:320px;
}
.containera .carda .content h2 {
    font-size:1.3em;
    font-weight: 500;
    color: var(--clr);
    margin-top: 3%;
}
.containera .carda .content p {
    color: white;
    font-size: 1em;
}
.containera .carda .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    margin-top: 0;
    text-decoration: none;
    padding:0 8px 25px 25px;
    color: #97FEED;
    font-weight: 500;
    font-size:1em;
}
.containera .carda:hover h2 {
    font-weight: 500;
    font-size: 1.5em;
}
.containera .carda .content a:hover {
    opacity: 0.8;
    text-decoration:underline #071952;
    color: aqua;
}
@media only screen and (max-width: 767px) {
   /* .containera{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position:relative;
        gap: 150px;
    }
    .containera .card {
        position: relative;
        width: 100%;
    height: 330px;
    }
    .containera .card:hover {
        height: 480px;
    }*/
     .containera .carda {
        width: 230px;
        border-radius: 15px;
         }
         .containera .carda .img-box {
        width: 185px;
        border-radius: 10px;
    }
     .containera .carda .content p {
        font-size: 15px;
    }
     .containera .carda .content a {
        font-size: 1em;
}
}


/*css for testimonials*/
.testimonials{
    perspective: 900px;
     height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerb{
    width:250px;
    height: 250px;
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animate{
    animation: rotation 30s linear infinite;
}
@keyframes rotation{
    0% {
        transform:  rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.cardb{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition-duration: 0.5s;
    padding: 30px 20px 15px;
    box-sizing: border-box;
    background-color: hsla(170, 98%, 79%, 0.411);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 2px 2px 5px #35a29f,-2px -2px 5px #35a29f; */
}
.imaget{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 8px 20px -4px #95abbb;
}
.theadt{
    color: #071952;
    font-size: 21px;
    line-height: 1.3;
}
.textt{
    font-size: 13px;
    color: #555;
    text-align: justify;
}
.cardb:hover{
    scale: 1.025;
    background-color: rgba(149, 254, 236, 0.849);
    height: max-content;
    translate: 0 -30px 0;
}   
.active{
    scale: 1.025;
    background-color: rgba(149, 254, 236, 0.849);
    height: max-content;
    translate: 0 -30px 0;
}
#card1{
    transform: translateZ(270px);
}
#card2{
    transform: rotateY(60deg) translateZ(270px);
}
#card3{ 
    transform: rotateY(120deg) translateZ(270px);
}
#card4{ 
    transform: rotateY(180deg) translateZ(270px);
}
#card5{ 
    transform: rotateY(240deg) translateZ(270px);
}
#card6{
    transform: rotateY(300deg) translateZ(270px);
}

@media screen and (max-width: 550px){
    
    .containerb{
        width: 200px;
        height: 200px;
        position: relative;
        top: -50px;
    }
    #card1{
        
        transform: translateZ(180px);
    }
    #card2{
        
        transform: rotateY(60deg) translateZ(180px);
    }
    #card3{
        
        transform: rotateY(120deg) translateZ(180px);
    }
    #card4{
        
        transform: rotateY(180deg) translateZ(180px);
    }
    #card5{
        
        transform: rotateY(240deg) translateZ(180px);
    }
    #card6{
        
        transform: rotateY(300deg) translateZ(180px);
    }
}
#card1:hover .containerb{
    transform: rotateY(0deg);
    animation-play-state: paused;
}
#card2:hover .containerb{
    transform: rotateY(60deg);
    animation-play-state: paused;
}
#card3:hover .containerb{
    transform: rotateY(120deg);
    animation-play-state: paused;
}
#card4:hover .containerb{
    transform: rotateY(180deg);
    animation-play-state: paused;
}
#card5:hover .containerb{
    transform: rotateY(240deg);
    animation-play-state: paused;
}
#card6:hover .containerb{
    transform: rotateY(300deg);
    animation-play-state: paused;
}


/*css for rewards*/
#works .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    width: 18rem;
    height: 20%;
    background-color:#0B666A;
    border-radius:20px;
  }
#works .card-img-top {
    height:300px;
    object-fit: cover;
  }
#works  .card-body {
    padding: 1rem;
  }
#works .card-text {
    color: #97FEED;
    font-size: 1.5rem;
  }
  .carousel-item{
    background-color: #071952;
  }
#works  .carousel-control-prev {
    width: 5%;
    color: black;
  }
#works   .carousel-control-next {
    width: 5%;
    color: black;
  }
#works .carousel-control-prev {
    left: 0;
    color: black;
  }
 #works .carousel-control-next {
    right: 0;
    color: black;
  }


  /*css for contacts*/
.contact12{
    color: #97FEED;
    padding: 30px;
    font-size: 25px;
}
.number h1{
    font-size: 27px;
}
.number span{
    font-size: 25px;
    padding-left: 5px;
}
.number i{
    color: #97FEED;
    font-size: 22px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.5s ease;
    border: 2px solid rgba(0, 0, 0, 0);
}
.number i:hover{
    background-color: #0B666A;
    color: #97FEED;
    border: 2px solid #95abbb;
}

org,follow, .End{
    color: #97FEED;
}
.contactInfo{
    padding: 30px;
}
.contactInfo org{
    font-size: 22px;
}
.follow{
    background-color: #071952;
}
follow{
    text-align: center;
    font-size: 22px;
    margin-bottom: 3%;
    @media only screen and (max-width:767px) {
        margin-bottom: 5%;
    }
}
.End{
    font-size: 20px;
    padding: 60px;
    gap:90px;
}
#social {
    padding-top: 5%;
    text-align: center;
    color: #97FEED;
    font-size: 28px;
    @media only screen and (max-width:767px) {
        padding-top: 10%;
    }
  }
a {
    color: #f16464;
  }
.share {
    position: relative;
    width: 440px;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -60px;
    border-radius: 80px;
}
 .share span {
    color: #97FEED;
    width: 200px;
    line-height: 80px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  .share nav {
    font-size: 0;
  }
  .share a {
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: #0B666A;
    color: #ffffff;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -20px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .share a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
  }
  .share a:nth-child(1):hover {
    background-color: black;
  }
  .share a:nth-child(2):hover {
    background-color: #3B5998;
  }
  .share a:nth-child(3):hover {
     background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  }
  .share a:nth-child(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
  }
  .share a:nth-child(4):hover {
    background-color: #0077B5;
  }
  .share:hover span, .share.hover span {
    opacity: 0;
  }
  .share:hover a, .share.hover a {
    border-radius: 50%;
    margin: 0 10px;
    color: #000000;
    font-size: 28px;
  }
  .share:hover a:hover, .share.hover a:hover {
    color: #fff;
  }
